.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  transform: translateY(-100%);
  background-color: #ffedff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out, visibility 0.5s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    background-image: url('../images/logo.PNG');
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: 150px;

    @media (min-width: 760px) {
      background-size: 350px;
    }
  }
}

.navbar-nav {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.menu-nav-link {
  text-decoration: none;
  font-size: 25px;
  color: #7B5295;
  font-weight: 700;
  transition: all 0.4s;

  &:hover {
    color: #4C266A;
    transform: scale(1.1);
    opacity: 0.8;
  }

  @media (min-width: 760px) {
    font-size: 35px;
  }
}

.menu-button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: none;
  background-image: url('../images/close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #7B5295;
  font-weight: 700;
}
