.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-inline: 20px;
  margin-bottom: 35px;

  @media (min-width: 1200px) {
    margin-bottom: 40px;
    padding-inline: 50px;
  }
}

.navbarImg {
  width: 100px;
  height: 80px;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.05);
  }
}

.navbarList {
  display: none;
  list-style: none;
  flex-direction: row;
  gap: 20px;

  @media (min-width: 1200px) {
    display: flex;
  }
}

.navbarListItem {

  &>a {
    text-decoration: none;
  }

  color: #7B5295;
  font-weight: 700;
  transition: all 0.4s;

  &:hover {
    color: #4C266A;
    transform: scale(1.1);
    opacity: 0.8;
  }

  @media (min-width: 760px) {
    font-size: 20px;
  }
}

.navbarMenuBtn {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  min-height: 64px;
  min-width: 64px;
  justify-content: center;
  background-image: url('/menu.svg');
  background-size: cover;
  opacity: 0.8;
  transition: all 0.4s;

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.menu {
  position: fixed;
  /* Ensure the menu covers the whole screen */
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
  /* Start hidden */

  &.open {
    transform: translateY(0);
    /* Show when open */
  }
}