.ourServices {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 25px;

  margin: 0;
  margin-bottom: 50px;

  position: relative;

  @media (min-width:760px) {
    margin-bottom: 100px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #7B5295;
    width: calc(100% - 110px);
    left: 55px;

    @media (min-width: 760px) {
      bottom: -25px;
      width: calc(100% - 150px);
      left: 75px;
    }

    @media (min-width: 1200px) {
      bottom: -45px;
      width: calc(100% - 180px);
      left: 90px;
    }
  }

  &-title {
    text-align: center;
    line-height: 1.5;
    grid-column: 1/-1;
    color: #7B5295;
    opacity: 0.9;

    margin: 0;
  }

  &-introduce {
    grid-column: 1/-1;
    margin: 0;

    @media (min-width: 760px) {
      grid-column: 1/5;
    }

    @media (min-width: 1200px) {
      grid-column: 1/4;
    }

    &>h1 {
      text-align: center;
      font-size: 24px;
      color: #7B5295;
      opacity: 0.9;
    }

    &>p {
      text-align: center;
      font-size: 18px;
      opacity: 0.8;

      @media (min-width: 760px) {
        text-align: justify;
        font-size: 20px;
      }
    }
  }

  &-advanced {
    grid-column: 1/-1;
    margin: 0;

    @media (min-width: 760px) {
      grid-column: 6/-1;
    }
    
    @media (min-width: 1200px) {
      grid-column: 4/7;
    }

    &>h1 {
      text-align: center;
      font-size: 24px;
      color: #7B5295;
      opacity: 0.9;
    }

    &>p {
      text-align: center;
      font-size: 18px;
      opacity: 0.8;

      @media (min-width: 760px) {
        text-align: justify;
        font-size: 20px;
      }
    }
  }

  &-training {
    grid-column: 1/-1;
    margin: 0;

    @media (min-width: 760px) {
      grid-column: 1/5;
    }

    @media (min-width: 1200px) {
      grid-column: 7/-1;
    }

    &>h1 {
      text-align: center;
      font-size: 24px;
      color: #7B5295;
      opacity: 0.9;
    }

    &>p {
      text-align: center;
      font-size: 18px;
      opacity: 0.8;

      @media (min-width: 760px) {
        text-align: justify;
        font-size: 20px;
      }
    }
  }

  &-kids {
    grid-column: 1/-1;
    margin: 0;

    @media (min-width: 760px) {
      grid-column: 6/-1;
    }

    @media (min-width: 1200px) {
      grid-column: 1/4;
    }

    &>h1 {
      text-align: center;
      font-size: 24px;
      color: #7B5295;
      opacity: 0.9;
    }

    &>p {
      text-align: center;
      font-size: 18px;
      opacity: 0.8;

      @media (min-width: 760px) {
        text-align: justify;
        font-size: 20px;
      }
    }
  }

  &-competition {
    grid-column: 1/-1;
    margin: 0;

    @media (min-width: 760px) {
      grid-column: 1/5;
    }

    @media (min-width: 1200px) {
      grid-column: 4/7;
    }

    &>h1 {
      text-align: center;
      font-size: 24px;
      color: #7B5295;
      opacity: 0.9;
    }

    &>p {
      text-align: center;
      font-size: 18px;
      opacity: 0.8;

      @media (min-width: 760px) {
        text-align: justify;
        font-size: 20px;
      }
    }
  }

  &-concert {
    grid-column: 1/-1;
    margin: 0;

    margin-bottom: 50px;

    @media (min-width: 760px) {
      grid-column: 6/-1;
    }

    @media (min-width: 1200px) {
      grid-column: 7/-1;
    }

    &>h1 {
      text-align: center;
            font-size: 24px;
      color: #7B5295;
      opacity: 0.9;
    }

    &>p {
      text-align: center;
      font-size: 18px;
      opacity: 0.8;

      @media (min-width: 760px) {
        text-align: justify;
        font-size: 20px;
      }
    }
  }
}