.newsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-inline: 35px;

  animation: appear 0.7s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}